.Membership-container,
.Session-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/pages/component/assets/gymimage3.png");
  /* background-image: url("/src/pages/component/assets/gymimage3.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}