/* JoinPage.css */
.join-page {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/pages/component/assets/gymimage7.png");
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.205);
}

.join-page h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin: 285px auto 0px auto;
    margin-bottom: 30px;
}

.page-links {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 265px auto;
}

.page-links a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-links a:hover {
    background-color: #007bff;
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .join-page h1 {
        font-size: 2rem;
        margin: 175px auto 0 auto;
    }

    .page-links a {
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}